<div class="container py-4">
    <div class="p-5 mb-4 bg-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 style = "color: white">Edit Profile</h1>
            <%= render 'form' %>
            <br>
            <%= link_to 'Cancel', @profile, class:"btn btn-secondary" %>
            <br>
            <br>
        </div>
    </div>
</div>