<% if @movie.errors.any? %>
    <div id="error_explanation" data-turbo-cache="false" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">
            <%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:
            </h4>
        <ul>
            <% @movie.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>