<div class="container py-4">
    <div class="p-5 mb-4 bg-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 style = "color: white">Movies Index</h1>
            <table class="table table-sm w-auto">
                <thead>
                    <tr style = "color: white">Movies Index>
                        <th colspan="5"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @movies.each do |movie| %>
                        <tr>
                            <td><%= link_to image_tag(movie.image, style:"width:100px; height:100px"), movie %></td>
                            <td style="width:100px; height:100px"> </td>
                            <td style = "color: white">
                                <h4 style = "color: white"> <%= movie.title %> </h4>
                                <br>
                                <strong>Rating: </strong>
                                <%= movie.rating %>
                            </td>
                            <td style="width:800px; height:100px"> </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <br>
            <%= link_to 'New Movie', new_movie_path, class:"btn btn-primary" %>
        </div>
    </div>
</div>