
<div class="container py-4">
    <div class="p-5 mb-4 bg-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 style = "color: white">New Movie</h1>
            <%= render 'form' %>
            <br>
            <%= link_to 'Back', movies_path, class:"btn btn-primary" %>
        </div>
    </div>
</div>