/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 html,
 body {
   height: 100%;
   background-color: #26282f;
 }

 .image {
  width: 300px;
  height: auto;
 }

 .image-container {
  width: 300px;
  height: 300px;
 }

 .image-cover {
  width: 600px;
  height: 847px;
 }

 .image-cover-preview {
  width: 300px;
  height: 423px;
 }

 .main-link {
  color: white
 }

 .rating-good{
  color: green
 }
 .rating-mid{
  color: gold
 }
 .rating-bad{
  color: crimson
 }