<div class="card">
  <div class="card-header">
    <h4>Review By: <%= @review.user_id %> </h4>
  </div>
  <div class="card-body bg-dark">
    <blockquote class="blockquote mb-0" style="color: white">
      <h5>Rating: <%= @review.user_id %> / 10 </h5>
      <p><%= @review.comment %></p>
    </blockquote>
  </div>
</div>